.privateKey{
 border: 1px solid #000; 
 margin: 10px 0;
 padding: 10px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 overflow: auto;
}
.privateKey button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;

}
.privateKey button:hover{
  background: #000;
  color: #fff;
}

.publicKey{
  border: 1px solid #000; 
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.publicKey button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.publicKey button:hover{
  background: #000;
  color: #fff;
}
.address{
  border: 1px solid #000; 
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.address button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.address button:hover{
  background: #000;
  color: #fff;
}
.address input{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.address input:hover{
  background: #000;
  color: #fff;
}
.address input:focus{
  background: #000;
  color: #fff;
}
.message{
  border: 1px solid #000; 
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.message button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.message button:hover{
  background: #000;
  color: #fff;
}
.message input{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.signature{
  border: 1px solid #000; 
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.signature button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.signature button:hover{
  background: #000;
  color: #fff;
}
.signature input{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.signature input:hover{
  background: #000;
  color: #fff;
}
.verify{
  border: 1px solid #000; 
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.verify button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
.verify button:hover{
  background: #000;
  color: #fff;
}
.footer{
  margin: 10px 0;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.tutorial{
  margin: 10px 0;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.listItem{
  margin: 10px 0;
  padding: 10px 0;
  flex-wrap: wrap;
  overflow: auto;
}
